<div class="home">
<h2>Recent Reviews</h2>
<div class="home-reviews">
{{#each ratings as |rating|}}
<section class="review">
  {{> review-no-edit rating=rating}}
</section>

{{/each}}
</div>
<button class="btn btn-default show-more">Show more reviews</button>
</div>
