<div class="modal fade" id="sign-in-up-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign up for an account or sign in</h4>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#sign-up-panel">Sign Up</a></li>
          <li role="presentation"><a href="#sign-in-panel">Sign In</a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="sign-up-panel">
            <form id="sign-up">
              <div class="input-group">
                <div class="input-group-addon">Email</div>
                <input required type="email" name="credentials[email]" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-addon">Password</div>
                <input required type="password" name="credentials[password]" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-addon">Password Confirmation</div>
                <input required type="password" name="credentials[password_confirmation]" class="form-control">
              </div>
              <div class="row">
                <div class="col-sm-4"><input required type="submit" value="Sign Up" class="form-control btn-success"></div>
                <div class="col-sm-8"></div>
              </div>
            </form>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="sign-in-panel">
            <form id="sign-in">
              <div class="input-group">
                <div class="input-group-addon">Email</div>
                <input required type="email" name="credentials[email]" class="form-control">
              </div>
              <div class="input-group">
                <div class="input-group-addon">Password</div>
                <input required type="password" name="credentials[password]" class="form-control">
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <input required type="submit" value="Sign In" class="form-control btn-success">
                </div>
                <div class="col-sm-8"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<div class="modal fade" id="sign-out-change-pass-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change password</h4>
      </div>
      <div class="modal-body">
        <p>Change Password</p>
        <form id="change-pass">
          <div class="input-group">
            <div class="input-group-addon">Old Password</div>
            <input required type="password" name="passwords[old]" class="form-control">
          </div>
          <div class="input-group">
            <div class="input-group-addon">New Password</div>
            <input required type="password" name="passwords[new]" class="form-control">
          </div>
          <div class="row">
            <div class="col-sm-4">
              <input required type="submit" value="Change Password" class="form-control btn-success">
            </div>
            <div class="col-sm-8"></div>
          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
