<form id="add-review">
  <h2>Add a new Review</h2>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">Movie Title: </div>
        <input required type="text" name="movie_rating[movie_title]" placeholder="Movie Title" class="form-control">
      </div>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <div class="input-group-addon">Genre: </div>
      <input required type="text" name="movie_rating[movie_genre]" placeholder="Movie Genre" class="form-control">
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">Rating (out of 10): </div>
        <input required type="number" name="movie_rating[rating]" placeholder="Rating (out of 10)" min="0" max="10" class="form-control">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <div class="input-group-addon">Date Watched: </div>
        <input required type="date" name="movie_rating[date_watched]" placeholder="Date Watched" class="form-control">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <textarea required name="movie_rating[review]" placeholder="Movie Review" class="form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <input required type="submit" value="Add Review" class="form-control">
    </div>
  </div>
</form>
<div class="user-reviews">
  <h2>My Reviews</h2>
  <div class="actual-reviews">
    {{#each ratings as |rating|}}

      {{> review-editable rating=rating}}

      {{else}}
        <p class="empty-reviews">You don't seem to have any reviews. You should add some!</p>

    {{/each}}
  </div>
</div>
