$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@mixin shadow {
  box-shadow: 1px 1px 2px $shadow;
}
@mixin big-shadow {
  box-shadow: 0 0 20px $shadow;
}
$dark-green: #060;
$light-green: #9f9;
$header: #3f444c;
$white: #fff;
$backdrop: #707987;
$shadow: #333;

body {
  background-color: $backdrop;
}

header {
  @include shadow;
  background: $header;
  box-sizing: border-box;
  color: $white;
  left: 0;
  overflow: hidden;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;

  h1 {
    float: left;
    font-size: 30px;
    margin: 0;
  }

  button,
  p {
    float: right;
  }

  p {
    float: right;
    margin-bottom: 0;
    padding: 7px 20px;
  }

  #sign-out {
    float: right;
    margin-right: 15px;
    max-width: 150px;
  }
}

.home {
  padding-bottom: 20px;
}

.main-content {
  @include big-shadow;
  background: $white;
  padding-top: 73px;
}

.tab-pane {
  border: 1px solid #ddd;
  border-top: 0;
  padding: 10px;
}

.review {
  border-bottom: 1px solid #666;
  overflow: hidden;
  padding: 10px;

  &:last-of-type {
    border-bottom: 0;
  }

  form {
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
  }
}

#add-review {
  .row {
    margin-bottom: 20px;
  }
}

input,
textarea {
  font-weight: 400;
  max-width: 100%;
}

textarea {
  resize: vertical;
}

input {
  resize: none;
}

#edit-review {
  label {
    display: block;
  }

  .row {
    margin-bottom: 20px;
  }
}

.modal {
  .input-group {
    margin-bottom: 20px;
  }
}

#error-message {
  @include shadow;
  background: #f99;
  border: 1px solid #f00;
  border-radius: 5px;
  display: none;
  left: 10%;
  margin-top: 20px;
  position: fixed;
  text-align: center;
  width: 80%;
  z-index: 9999;

  p {
    color: #600;
    margin: 10px;
  }
}

#success-message {
  @include shadow;
  background: $light-green;
  border: 1px solid $dark-green;
  border-radius: 5px;
  display: none;
  left: 10%;
  margin-top: 20px;
  position: fixed;
  text-align: center;
  width: 80%;
  z-index: 9999;

  p {
    color: $dark-green;
    margin: 10px;
  }
}
